
body {
	font-size: 200%;/*字的大小*/
	font: 100% arial, helvetica, sans-serif;
	line-height: 1.5;/*height间距*/
	margin: 0;		
	
}

/*发光*/
#faguang a {
	
	opacity: .8;
}
#faguang a:hover {
		
	opacity: 1;
}

#sb {
	border: 2px dashed #ccc;/*边框加他的颜色*/
	position: absolute;
	left: 0;
	width: 29%
	
}
/* 只添加 #mc 和 pre 相关的样式 */
		#mc {
			border: 2px dashed #ccc;/*边框加他的颜色*/
			margin-left: 30%;
			padding: 20px;
		}